@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет акцента  #2196F3 */
/* цвет логотипа в хедере #000000 */
/* цвет логотипа в футере #FFFFFF */
/* цвет акцента в футере #FFFFFF */
/* цвет адреса в футере rgba(255, 255, 255, 0.6)*/
/* цвет тени кнопки в герои rgba(0, 0, 0, 0.15)*/
/* цвет кнопок в портфолио #f5f4fa */
:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --logo-color-heder: #000000;
  --logo-color-footer: #ffffff;
  --hero-color-title: #ffffff;
  --button-color-title: #ffffff;
  --accent-color-footer: #ffffff;
  --address-color-footer: rgba(255, 255, 255, 0.6);
  --primery-background-color: #ffffff;
  --section-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --button-background-color: #2196f3;
  --footer-background-color: #2f303a;
  --button-color-shadow: rgba(0, 0, 0, 0.15);
  --button-background-color-portfolio: #f5f4fa;
  --border-color-pictures: #eeeeee;
  --pictures-background-color: #ffffff;
  --icon-background-color: #2196f3;
  --icon-fill: #afb1b8;
  --icon-hover-fill: #ffffff;
  --icon-footer-background-color: rgba(255, 255, 255, 0.1);
  --icon-footer-fill: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --occupation-img-title: #ffffff;
}

body {
  color: var(--primery-text-color);
  background-color: var(--primery-background-color);
  font-family: 'Roboto', sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address,
.footer-address {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  border: 0px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 16px 0;
    border-bottom: 1px solid #cccccc;
    position: relative;
  }
  .header-mail, .header-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    transition: color 250ms var(--timing-function);
  }
  .header-mail {
    margin-bottom: 16px;
  }
  .header-mail:hover, .header-mail:focus, .header-mail:active {
    color: var(--accent-color);
  }
  .header-tel:hover, .header-tel:focus, .header-tel:active {
    color: var(--accent-color);
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .menu-nav-item {
    margin-bottom: 40px;
  }
  .menu-nav-item:last-child {
    margin-bottom: 60px;
  }
  .menu-nav-link-studio,
  .menu-nav-link-portfolio,
  .menu-nav-link-contacts {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    padding-top: 32px;
    padding-bottom: 8px;
    position: relative;
    transition: color 250ms var(--timing-function);
  }
  .menu-nav-link-studio:hover,
  .menu-nav-link-studio:focus,
  .menu-nav-link-studio:active {
    color: var(--accent-color);
  }
  .menu-nav-link-portfolio:hover,
  .menu-nav-link-portfolio:focus,
  .menu-nav-link-portfolio:active {
    color: var(--accent-color);
  }
  .menu-nav-link-contacts:hover,
  .menu-nav-link-contacts:focus,
  .menu-nav-link-contacts:active {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }
  .button-icon-mailto {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
  }
  .button-icon-mailto:hover, .button-icon-mailto:focus, .button-icon-mailto:active {
    fill: var(--accent-color);
  }
  .button-icon-tel {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
  }
  .button-icon-tel:hover, .button-icon-tel:focus, .button-icon-tel:active {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
  .header {
    padding: 21px 0;
    border-bottom: 1px solid #cccccc;
  }
  .header-mail, .header-tel {
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    transition: color 250ms var(--timing-function);
  }
  .header-mail:hover, .header-mail:focus, .header-mail:active {
    color: var(--accent-color);
  }
  .header-tel:hover, .header-tel:focus, .header-tel:active {
    color: var(--accent-color);
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu-button {
    display: none;
  }
  .menu-nav {
    display: flex;
    justify-content: space-between;
    width: 294px;
    margin-right: 84px;
  }
  .menu-nav-item {
    position: relative;
  }
  .menu-nav-link-studio,
  .menu-nav-link-portfolio,
  .menu-nav-link-contacts {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color 250ms var(--timing-function);
  }
  .menu-nav-link-studio:hover,
  .menu-nav-link-studio:focus,
  .menu-nav-link-studio:active {
    color: var(--accent-color);
  }
  .menu-nav-link-portfolio:hover,
  .menu-nav-link-portfolio:focus,
  .menu-nav-link-portfolio:active {
    color: var(--accent-color);
  }
  .menu-nav-link-contacts:hover,
  .menu-nav-link-contacts:focus,
  .menu-nav-link-contacts:active {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }
  .addres-contacts {
    margin-bottom: 10px;
  }
  .addres-contacts:last-child {
    margin-bottom: 0;
  }
  .button-icon-mailto {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
  }
  .button-icon-mailto:hover, .button-icon-mailto:focus, .button-icon-mailto:active {
    fill: var(--accent-color);
  }
  .button-icon-tel {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
  }
  .button-icon-tel:hover, .button-icon-tel:focus, .button-icon-tel:active {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
  }
  .header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header-mail, .header-tel {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
  }
  .menu-nav {
    margin-left: 93px;
    margin-right: 305px;
  }
  .address-item {
    display: flex;
    align-items: center;
  }
  .addres-contacts {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .addres-contacts:last-child {
    margin-right: 0px;
  }
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  /* or 162% */
  width: 360px;
  height: 84px;
  display: block;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color-title);
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1x.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 480px 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tablet-1x.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tablet-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_desk-1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
  }
  .hero-title {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
    width: 696px;
    height: 120px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_desk-2x.jpg");
  }
}

.features {
  padding: 60px 0px;
}

.features-icon {
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-icon-clock {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.features-icon-diagram {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.features-names {
  width: 270px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.features-information {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features-icon {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: calc(100%);
    height: 120px;
    padding: 25px 190px;
  }
  .features-names {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .features-information {
    display: block;
    text-align: left;
    width: 450px;
    height: 50px;
  }
  .features-studios {
    margin-bottom: 30px;
  }
  .features-studios:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .features .container {
    display: flex;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-studios {
    margin-bottom: 30px;
  }
  .features-studios:nth-child(n + 3) {
    margin-bottom: 0px;
  }
  .features-studios:nth-child(2n) {
    margin-left: 30px;
  }
  .features-icon {
    display: flex;
    margin: 0px 0;
    text-align: center;
    width: 354px;
    height: 120px;
    padding: 25px 142px;
  }
  .features-names {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .features-information {
    width: 354px;
    height: 75px;
  }
  .size {
    height: 50px;
  }
  .features-information .size {
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-studios {
    margin-bottom: 0px;
  }
  .features-studios:nth-child(2n) {
    margin-left: 0px;
  }
  .features-studios:not(:last-child) {
    margin-right: 30px;
  }
  .features-icon {
    display: flex;
    margin: 0px 0;
    text-align: center;
    width: 270px;
    height: 120px;
    padding: 25px 100px;
  }
  .features-information {
    width: 270px;
    height: 75px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .occupation {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation {
    padding-bottom: 94px;
  }
  .occupation-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    display: inline-block;
    min-width: 377px;
    margin-bottom: 50px;
  }
  .occupation .container {
    text-align: center;
  }
  .occupation-list {
    display: flex;
    flex-wrap: wrap;
  }
  .occupation-studios:not(:last-child) {
    margin-right: 30px;
  }
  .occupation-studios {
    position: relative;
  }
  .occupation-img-title {
    display: block;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 0;
    color: var(--occupation-img-title);
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.team {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 30px;
}

.team-people {
  background-color: var(--pictures-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team-people:last-child {
  margin-bottom: 0px;
}

.team-employee {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team-profession {
  margin-bottom: 16px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-people {
    width: 354px;
  }
  .team-people:nth-child(2n) {
    margin-left: 30px;
  }
  .team-people:nth-child(n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-people {
    width: 270px;
    height: 428px;
  }
  .team-people:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
  .team-people:nth-child(2n) {
    margin-left: 0px;
  }
  .team-people:not(:last-child) {
    margin-right: 30px;
  }
}

.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.regular-customers-title {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  text-align: center;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-names-link {
  display: flex;
  background-color: var(--primery-background-color);
  width: 210px;
  height: 90px;
  border-radius: 1px;
  border: #afb1b8 solid 1px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.company-names-link:hover .company-names-icon,
.company-names-link:focus .company-names-icon {
  fill: var(--accent-color);
}

.company-names-link:hover, .company-names-link:focus {
  border-color: var(--accent-color);
}

.company-names {
  margin-top: 30px;
}

.company-names-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

@media screen and (min-width: 768px) {
  .company-names-link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .regular-customers-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
  .company-names-link {
    width: 170px;
    height: 90px;
  }
  .company-names {
    margin-top: 50px;
  }
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item {
  text-align: center;
  margin-bottom: 8px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-maps {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color-footer);
}

.footer-mail, .footer-tel {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--address-color-footer);
}

.footer-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.footer-form-title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-input {
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
  .footer-icon {
    margin-bottom: 60px;
  }
  .footer-form-input {
    width: calc(100%);
  }
}

@media screen and (min-width: 768px) {
  .footer-grup {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-contacts {
    margin-left: 61px;
    margin-bottom: 60px;
  }
  .footer-icon {
    margin-right: 74px;
  }
  .footer-form-input {
    display: block;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-contacts {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 70px;
  }
  .footer-item {
    text-align: left;
  }
  .footer-icon {
    margin-right: 0;
  }
  .footer-title {
    text-align: left;
  }
  .footer-form-information {
    display: flex;
  }
  .footer-form-title {
    text-align: left;
  }
  .footer-form-input {
    width: 354px;
    margin-right: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  padding: 40px 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-title {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primery-text-color);
}

.form-label {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-function);
}

.form-input:focus, .form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms var(--timing-function);
}

.form-message:focus, .form-message:hover {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form-policy-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-policy-text::before {
  content: '';
  display: inline-block;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primery-text-color);
  border-radius: 4px;
  margin-right: 7px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  transition: border-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.modal-form-button:focus, .modal-form-button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
    padding: 40px 40px;
  }
  .modal-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--primery-text-color);
  }
  .modal-form-policy-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
  }
}

.logotype {
  color: var(--logo-color-heder);
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);
}

.logotype:hover, .logotype:focus {
  color: var(--accent-color);
}

.logotype-text {
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .logotype {
    color: var(--logo-color-heder);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
  }
}

.footer-logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-color-footer);
  transition: color 250ms var(--timing-function);
}

.footer-logotype:hover, .footer-logotype:focus {
  color: var(--accent-color);
}

.footer-logo {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color-footer);
    transition: color 250ms var(--timing-function);
  }
  .footer-logotype:hover, .footer-logotype:focus {
    color: var(--accent-color);
  }
  .footer-logo {
    margin-bottom: 20px;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 276px;
  }
  .header-menu-button .menu-icon-close {
    display: none;
  }
  .header-menu-button.is-open .menu-icon-close {
    display: block;
  }
  .header-menu-button.is-open .menu-icon-menu {
    display: none;
  }
  .header-menu-button:hover,
  .header-menu-button:focus {
    fill: var(--accent-color);
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    z-index: 1;
    background-color: var(--primery-background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 60px;
    text-align: center;
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-container.is-open {
    display: block;
  }
}

.modal-btn {
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px var(--button-color-shadow);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: block;
  margin: 0 auto;
  color: var(--button-color-title);
  background-color: var(--button-background-color);
  cursor: pointer;
  padding: 10px 32px;
  transition: color 250ms var(--timing-function);
}

.modal-btn:hover, .modal-btn:focus, .modal-btn:active {
  color: var(--primery-text-color);
}

/* .modal-btn {
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px var(--button-color-shadow);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  @include font(16px, 700, 30px);
  

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  color: var(--button-color-title);
  background-color: var(--button-background-color);
  cursor: pointer;
  padding: 10px 32px;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus,
  &:active {
    color: var(--primery-text-color);
  }
}  */
.social-networks {
  display: flex;
  margin: 0 auto;
  width: 206px;
  margin-bottom: 24px;
  justify-content: space-between;
}

.social-networks-container {
  display: flex;
}

.social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--pictures-background-color);
  transition: background-color 250ms var(--timing-function);
}

.social-networks-link:hover .isocial-networks-icon,
.social-networks-link:focus .isocial-networks-icon {
  fill: var(--icon-hover-fill);
}

.social-networks-link:hover, .social-networks-link:focus {
  background-color: var(--icon-background-color);
}

.isocial-networks-icon {
  fill: var(--icon-fill);
  transition: fill 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .social-networks {
    margin-bottom: 30px;
  }
}

.footer-social-networks {
  display: flex;
  width: 206px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-footer-background-color);
  transition: background-color 250ms var(--timing-function);
}

.footer-social-networks-link:hover .footer-isocial-networks-icon,
.footer-social-networks-link:focus .footer-isocial-networks-icon {
  fill: var(--icon-hover-fill);
}

.footer-social-networks-link:hover, .footer-social-networks-link:focus {
  background-color: var(--icon-background-color);
}

.footer-isocial-networks-icon {
  fill: var(--icon-footer-fill);
  transition: fill 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .footer-social-networks {
    display: flex;
    width: 206px;
    justify-content: space-between;
  }
  .footer-social-networks-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--icon-footer-background-color);
    transition: background-color 250ms var(--timing-function);
  }
  .footer-social-networks-link:hover .footer-isocial-networks-icon,
  .footer-social-networks-link:focus .footer-isocial-networks-icon {
    fill: var(--icon-hover-fill);
  }
  .footer-social-networks-link:hover, .footer-social-networks-link:focus {
    background-color: var(--icon-background-color);
  }
  .footer-isocial-networks-icon {
    fill: var(--icon-footer-fill);
    transition: fill 250ms var(--timing-function);
  }
}

.footer-form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:focus, .footer-form-button:hover {
  outline: none;
  border-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */