@import './utils/visually-hidden';
@import './utils/variables';
@import './utils/mixins';

// base
@import './base/common';
@import './base/container';

// layout
@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/occupation';
@import './layout/team';
@import './layout/regular-customers';
@import './layout/footer';

// components
@import './components/backdrop';
@import './components/logo-header';
@import './components/logo-footer';
@import './components/header-menu-button';
@import './components/modal-btn';
@import './components/social-networks';
@import './components/footer-social-networks';
@import './components/footer-form-button';
