@import './utils/visually-hidden';
@import './utils/variables';
@import './utils/mixins';

// base
@import './base/common';
@import './base/container';

// layout
@import './layout/header';
@import './layout/services';
@import './layout/footer';

// components
@import './components/logo-header';
@import './components/logo-footer';
@import './components/category-btn';
@import './components/header-menu-button';
@import './components/footer-social-networks';
@import './components/footer-form-button';
