/*=================================  ПОРТФОЛИО УСЛУГИ  =========================*/
.card-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: var(--primery-background-color);
  border-left: 1px solid var(--border-color-pictures);
  border-right: 1px solid var(--border-color-pictures);
  border-bottom: 1px solid var(--border-color-pictures);
}
services-title {
  font-family: 'Roboto', sans-serif;
  @include font(18px, 700, 36px);

  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}
.services-name {
  font-family: 'Roboto', sans-serif;
  @include font(16px, 400, 30px);

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.categories-of-services {
}
.services-item {
  margin-bottom: 30px;
  margin-right: 30px;
  transition: box-shadow 250ms var(--timing-function);
}
.services-link:hover,
.services-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.services-img-box {
  position: relative;
  overflow: hidden;
}
.services-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  @include font(18px, 400, 28px);

  letter-spacing: 0.03em;
  padding: 63px 24px;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  .services-link:hover & {
    transform: translateY(0);
  }
  .services-link:focus & .services-text {
    transform: translateY(0);
  }
}
/* .card-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: var(--primery-background-color);
  border-left: 1px solid var(--border-color-pictures);
  border-right: 1px solid var(--border-color-pictures);
  border-bottom: 1px solid var(--border-color-pictures);
}
.services-title {
  font-family: 'Roboto', sans-serif;
  @include font(18px, 700, 36px);
  

  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}
.services-name {
  font-family: 'Roboto', sans-serif;
  @include font(16px, 400, 30px);
  

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.categories-of-services {
  display: flex;
  flex-wrap: wrap;
}
.services-item {
  margin-bottom: 30px;
  margin-right: 30px;
  transition: box-shadow 250ms var(--timing-function);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.services-link:hover,
.services-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.services-img-box {
  position: relative;
  overflow: hidden;
}
.services-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  @include font(18px, 400, 28px);
  

  letter-spacing: 0.03em;
  padding: 63px 24px;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  .services-link:hover & {
    transform: translateY(0);
  }
  .services-link:focus & .services-text {
    transform: translateY(0);
  }
} */

/*=================================  END ПОРТФОЛИО УСЛУГИ  =========================*/ ;
