.footer-form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  @include font(16px, 700, 30px);

  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
  }
}
/* .footer-form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  @include font(16px, 700, 30px);
  

  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    outline: none;
    border-color: var(--accent-color);
  }
}
 */
