.logotype {
  color: var(--logo-color-heder);
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 31px);
  /* identical to box height */

  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &-text {
    color: var(--accent-color);
    transition: color 250ms var(--timing-function);
  }
}
