body {
  color: var(--primery-text-color);
  background-color: var(--primery-background-color);
  font-family: 'Roboto', sans-serif;
}
body.modal-open {
  overflow: hidden;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.address,
.footer-address {
  font-style: normal;
}
